{% extends "base_blog.html" %}

{% block head_links %}
  {{- super() -}}
  {% if articles_page.has_previous() %}
  <link rel="prev" href="{{ articles_previous_page.url|format_siteurl|e }}" />
  {% endif %}
  {% if articles_page.has_next() %}
  <link rel="next" href="{{ articles_next_page.url|format_siteurl|e }}" />
  {% endif %}
{% endblock %}

{% block social %}
  {{- super() -}}
  {% block social_title_url_image %}
  {% endblock social_title_url_image %}
  <meta name="twitter:card" content="summary" />
  <meta property="og:type" content="website" />
{% endblock %}

{% block content %}
    <div class="m-col-m-10">
      {% block content_title %}
      {% endblock content_title %}
      {% set article_list = articles_page.object_list|batch(2) %}
      {% for articles in article_list %}
      <div class="m-row">
        {% for article in articles %}
        <div class="m-col-m-6">
          <a class="article" href="{{ SITEURL }}/{{ article.url }}">
            {% if article.cover %}
            <div id="thumbnail" style="background-image: url('{{ article.cover|expand_link(article)|e }}');"></div>
            {% endif %}
            <div>
              <h3>{{ article.title }}</h3>
              {{ article.summary|dehyphenate|striptags|e }}
              <br>
              <time class="m-text m-dim" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% if articles_page.has_other_pages() %}
      {% macro pagination() %}{% include 'pagination.html' %}{% endmacro %}
      {{ pagination()|rtrim|indent(6) }}
      {% endif %}
    </div>
{% endblock %}
